<%-  include('partials/_header'); %>
<%-  include('partials/_navbar'); %>
<header class="pt-10 bg-primary fixed-top" style="margin-top: 72px;">
  <div class="container-xl">
    <div class="row">
      <div class="col text-center" >
        <a href="/" class=" d-inline-flex font-bold text-white">
          <span>Back</span>
        </a>
      </div>
      <div class="col text-center" style="background-color: #ffffff; border-radius: 19px;">
        <a href="#" class="btn d-inline-flex font-bold">
          <span>New Customer</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-6" style="position: relative;">
        <div class="text-center" style="position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%);">
          <a class="d-block" href="/selectuser" role="button">
            <div class="avatar avatar-lg bg-primary rounded-circle text-white text-lg">
              <h2><i class="bi bi-arrow-left text-white"></i></h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="py-10" style="margin-top: 202px;">
    <div class="container-xl">
      <div class="mb-5">
          <h5 class="mb-0">Customer Information</h5>
        </div>
        <form action="/add" class="mb-6" method="POST">
          <div class="row mb-5">
            <div class="col-md-6">
              <div class="">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control">
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-6">
              <div class="">
                <label for="phone" class="form-label">Phone No</label>
                <input type="text" name="phone" id="phone" class="form-control" onblur="validatePhone()">
                <span id="phone-error" style="color: red;"></span>
              </div>
          </div>
          </div>
          <div class="row mb-5">
              <div class="col-md-6">
                <div class="">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" name="address" class="form-control">
                </div>
              </div>
          </div>
          <div class="text-end">
            <button type="submit" class="avatar avatar-lg btn-primary rounded-circle text-lg">
              <h2><i class="bi bi-check2 text-white"></i></h2></button>
          </div>
        </form>
      </div>
  </div>
</main>
<script>
    function validatePhone() {
        var phoneInput = document.getElementById("phone");
        var phoneValue = phoneInput.value;

            var phoneError = document.getElementById("phone-error");

            if (phoneValue.length !== 0 && !(/^\d{10}$/.test(phoneValue))) {
                phoneError.textContent = "phone no must be 10 digits";
                phoneInput.focus();
            } else {
                phoneError.textContent = "";
            }
    }
</script>

<%- include('partials/_footer'); %>
